# Propriedade técnica e editorial do Escrevaral

* @rfmss

/.github/ @rfmss
/docs/ @rfmss
/scripts/ @rfmss
/css/ @rfmss
/icons/ @rfmss
/fonts/ @rfmss
/sounds/ @rfmss
/synonyms/ @rfmss

/index.html @rfmss
/service-worker.js @rfmss
/manifest.webmanifest @rfmss
/LICENSE @rfmss
/SECURITY.md @rfmss
